body {
  background-color: var(--white);
  color: var(--dark);
  font-family: "Poppins", sans-serif;

  #root {
    width: 100vw;
    min-width: 375px;
    background-color: var(--light);
    #app-container {
      width: 375px;
      margin: 0 auto;
      overflow: hidden;
      .cw {
        width: 327px;
        margin: 0 auto;

        .btn-primary {
          margin: 0 auto;
          @include flexCenter;
          background-color: var(--primary);
          border-radius: 28px;
          width: 197px;
          height: 56px;
          @include text(20px, 30px);
          color: var(--white);
          cursor: pointer;
          &:hover {
            background-color: var(--primary-hover);
          }
        }
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    #root {
      min-width: 1440px;
      #app-container {
        width: 1440px;
        .cw {
          width: 1110px;
        }
      }
    }
  }
}
